/*
==========================
    Global Styling
==========================
*/
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #e3e2e0;
    --secondary-color: #693400;
    --tertiary-color: #a09d9b3a;
    --background-color: aliceblue;
    --category-color:#0c591a;   
     --button-color: #452705;
    --button-hover: #5f3607b7;
    --button-font-weight: 550;
    --button-border-radius: 10px;
    --button-font-family:"Poppins", sans-serif;
    --text-color: #121214;
    --input-font-weight:700;
    --font-heading-h1:700;
    --font-main: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --font-logo: "Cormorant Garamond", Garamond ,"Times New Roman", serif;
}
/* Import styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

body{
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

button{
    border: none;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    width: 10rem;
    height: 1.8rem;
}

h1,h2,h3,h4{
    color: var(--text-color);
    font-family: var(--font-heading);
    margin-bottom: 1rem;
}

a{
    color: var(--text-color);
    text-decoration: none;
    transition: color .4s ease;    
}
a:hover{
    color: var(--secondary-color);
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
    height: auto;
}

main{
    flex: 1;
}


/*
==========================
    Index Styling
==========================
*/
.index-body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 400px;
    min-height: 100vh;
}

   /*Navigation-Bar style*/
header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 85px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem ;
}
.logo img{
    width: 3.5rem;
}
.logo a{
    font-size: 1.2rem;
    font-weight: 650;
    font-style: italic;
    font-family: var(--font-logo);
    color: var(--secondary-color);
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}
.link-items{
    transition: background-color .3s ease;
    padding: .5rem;
    border: none;
    border-radius: 15px;
}
.link-items:hover{
   background-color:var(--tertiary-color);
}
.nav-links a{
    color: var(--secondary-color);
    font-weight: 400;
}
.cart-container{
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-right: 2.5rem;
}
.cart img{
    width: 2rem;
}
.auth a{
    color: var(--secondary-color);
}
.auth{
    padding: .5rem;
    border: none;
    border-radius: 12px;
    transition: background-color .3s ease;
}
.auth:hover{
    background-color: var(--tertiary-color);
}


/*
==========================
    Index Styling
==========================
*/

/*Hero-section*/
.hero-section{
    margin-bottom: 1rem;
    background: linear-gradient(#85554468 0%, #37211866), url("../assets/images/ui/screen.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.hero-span span{
    padding: 1px 20px;
    font-weight: 410;
    color: var(--primary-color);
    backdrop-filter: blur(15px);
    border: 0.2px solid var(--primary-color);
    border-radius: 25px;
    background-color: #e0dfdf31;
}

.hero-text p, h1{
    color: var(--primary-color);
    width: 600px;
    text-align: center;
}

.hero-buttons{
    display: flex;
    margin-top: 2rem;
    gap: 2.5rem;
}

.hero-btn a{
    color: var(--primary-color);
}

.hero-btn{
    height: 2.3rem;
    font-size: .8rem;
    font-weight: 530;
    border-radius: 2px;
    cursor:pointer;
    background-color: var(--button-color);
    transition: background-color .3s ease;
}

.hero-btn:hover{
    background-color: var(--button-hover);
}


/*Our jounery section*/
.journey-section{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.journey-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
}

.journey-content{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 3rem;
    gap: .5em;
}

.journey-content h1{
    color: var(--text-color);
    text-align: start;
    width: 380px;
    font-family: "Salina";
    font-size: 2rem;
}
.journey-content p{
    line-height: 1.9;
    font-family: "Inter";
    text-align: start;
}

.team-imgs img{
    width: 30em;
    border: none;
    border-radius: 5px;
}

figcaption{
    position: relative;
    bottom: 2rem;
    left: 25rem;
    background-color: #c5c4c4;
    width: 110px;
    height: 55px;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: var(--text-color);
}

.about-btn{
    display: flex;
    align-items: start;
    margin-top: 1.2rem;
}

.about-btn a{
    color: var(--text-color);
    font-size: .89rem;
    font-family: "Poppins";
    padding: 1rem;
    font-weight: 600;
}
.about-btn button{
    background-color: #97979767;
    width: 13rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}



/*Seasonal section*/
.seasonal-section{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--tertiary-color);
    padding: 2.5rem;
}

.seasonal-section h1{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-weight: 650;
    margin-bottom: .5rem
}

.seasonal-section p{
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-size: 1rem;
    margin-bottom: 2rem;
    opacity: .8;
}

.seasonal-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
}

.seasonal-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    background-color: #11461a2a;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow .3s ease, transform .3s ease;
}

.seasonal-card:hover{
    box-shadow: 0px 4px 24px rgba(0,0,0,.12);
    transform: translateY(5px);
}

.seasonal-card-content img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
}

.badge{
    display: inline-block;
    background-color: rgba(17, 70, 26, 0.15);
    font-family: "Poppins", sans-serif;
    margin-top: 1.3rem;
    padding: 0.3px 10px;
    border-radius: 10px;
    color: var(--category-color);
    margin-bottom: 1.2rem;
}

.seasonal-card-content h3{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-weight: 600;
    margin: 0.5px;
}

.seasonal-card-content p{
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    font-weight: 400;
    opacity: .8;
    color: var(--text-color);
    font-size: .9rem;
}

.price-div{
    display: flex;
    align-items: center;
}
.seasonal-card-content .price{
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: start;
    margin-top: 1rem;
    opacity: 1;
}

.price span{
    font-size: .9rem;
    font-weight: 500;
    opacity: .8;
    text-decoration: underline;
}

.cart-icon img{
    width: 5rem;
}


/*Our community section*/
.community-section{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    min-height: 100vh;
}

.community-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.community-card h2{
    font-family: "Salina", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.community-card p{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: .8;
    color: var(--text-color);
}

.community-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3.2rem;
}

.community-imgs img{
   height: 15rem;
   object-fit: cover;
   border-radius: 15px;

}

.community-card2{
    display: flex;
    align-items: center; 
    gap: 25rem;
    margin-top: 3.3rem;
    margin-bottom: 5rem;
    height: 10rem;
    background-color: var(--primary-color);
    border-radius: 12px;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.community-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2.5rem;
}
.community-content h2{
    font-family: "Inter";
    font-size: 1.8rem;
    font-weight: 700;
    opacity: 1;
}

.community-content p{
    opacity: .8;
    font-family: "Poppins";
    font-weight: 450;
    font-size: 1rem;
    margin-top: -.5rem;
}

.community-btn button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    margin-right: 2.5rem;
    color: var(--primary-color);
    font-weight: var(--button-font-weight);
    border-radius: var(--button-border-radius);
    padding: 1.3rem;
    cursor: pointer;
    transition: background-color .4s ease;
}
.community-btn button:hover{
    background-color: var(--button-hover);
}



/*Footer Bar*/

.footer-section{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    padding: 2.3rem;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    width: 100%;
    max-width: 1200px;
    margin-top:.4rem;
    gap: 3.5rem;
}

.footer-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-card h2{
    font-family: var(--font-heading);
    font-size: 1.3rem;
    font-weight: 700;
}
.footer-card p{
    font-family: var(--font-main);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    opacity: .8;
}
.footer-card-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2.rem;
}
.footer-card-content.footer-links{
    margin-top: 0;
}
.footer-card-content p{
    font-weight: 500;
}
.footer-card-content input{
    padding: .6rem;
    width: 100%;
    border: .2px solid #000000db;
    border-radius: 15px;
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--font-heading);
}
.footer-btn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: .1rem;
    text-align: center;
    border-radius: var(--button-border-radius);
    width: 10rem;
    font-weight: var(--button-font-weight);
    font-size: .9rem;
    cursor: pointer;
    
}
.footer-card-content button a{
    color: var(--primary-color);
    font-weight: var(--button-font-weight);
}


/*
==========================
    Coffee Styling
==========================
*/
/*Category heading section*/
.category-section{
    padding: 4rem 5rem;
    max-width: 1200px;
    margin: 0 auto;
}
.category-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.category-heading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.4rem;
}
.category-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
}
.category-heading h1{
    color: var(--text-color);
    font-family: "Inter";
    font-weight: var(--font-heading-h1);
    margin-bottom: .9rem;
    font-size: 2.5rem;
}
.category-heading p{
    color: var(--text-color);
    font-family: "Poppins";
    font-weight: 400;
    opacity: .8;
    max-width: 600px;   
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}
.categories input{
    padding: .8rem 1.2rem;
    width: 100%;
    border: .2px solid #2f2f2fb5;
    border-radius: 25px;
    outline: none;
    font-family: var(--font-main);
    font-weight: 500;
    opacity: .9;
    max-width: 740px;
    transition: background-color .4s ease;
}
.categories input:focus{
    border-color: var(--secondary-color);
}
.categories-btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.categories-btns button{
    padding:.5rem 1.5rem;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    border-radius: var(--button-border-radius);
    color: var(--primary-color);
    background-color: var(--button-color);
    transition: background-color .3s ease;
    cursor: pointer;
}
.categories-btns button:hover{
    background-color: var(--category-color);
}


/*Category collection section*/
.category-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.category-card{
    display: flex;
    flex-direction: column;
    background-color: #d5d5d57e;
    overflow: hidden;
    padding: 1rem;
    border-radius: 13px;
    
}
.category-card img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 8px;
}
.category-text{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: .4rem;
}
.category-text h3{
    color: var(--text-color);
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.category-text p{
     color: var(--text-color);
    font-family: "Poppins";
    font-weight: 500;
    font-size: .9rem;
    opacity: .7;   
}
.category-badge2{
    display: flex;
    gap: .5rem;
    margin-top: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    flex: wrap;
}
.category-badge2 p{
    margin-right:.8rem;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 650;
    font-size: .75rem;
    text-transform: uppercase;
}
.category-badge2 span{
     background-color: #0c4f0fcf;
     color: #ffffff;
     padding: .1rem .7rem;
     font-size: .8rem;
     font-weight: 500;
     font-style: italic;
}
.category-badge{
    display: flex;
    gap: .5rem;
    margin-top: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    flex: wrap;
}
.category-badge p{
    margin-right:.8rem;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 650;
    font-size: .75rem;
    text-transform: uppercase;
}
.category-badge span{
     background-color: var(--button-color);
     color: #ffffff;
     padding: .2rem .7rem;
     border-radius: 50px;
     font-size: .8rem;
     font-weight: 500;
}
.category-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 1.5rem;
}
.category-cart img{
    width:1.8rem;
    height: 1.8rem;
    cursor: pointer;
    transition: transform .2s ease;
}
.category-cart img:hover{
    transform: scale(1.1);
}
.category-cart span{
    color: var(--secondary-color);
    font-weight: 700;
}
.content-separator{
    display: flex;
    align-items: center;
    opacity: .2;
    border: .4px solid #000000;

    margin-top: 2rem;
}



/*
==========================
    Equipments Styling
==========================
*/

.equipment-hero-section{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 4rem;
}
.equipment-heading{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
}
.equipment-heading h4{
    text-align: start;
    font-family: "Poppins";
    color: var(--text-color);
    font-weight: 500;
    opacity: .7;
}
.equipment-heading h1{
    text-align: start;
    font-family: var(--font-main);
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 1.1;
    font-size: 3rem;
}
.equipment-heading p{
    text-align: start;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: .9rem;
    opacity: .7;
    color: var(--text-color);
}
.equipment-imgs{
    overflow: hidden;

}
.equipment-imgs img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 8px;
}

/*collection-section*/
.collection-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.collection-category{
    display: flex;
    gap: 15rem;
    align-items: center;
    overflow: hidden;
}
.collection-category h2{
    text-align: start;
    font-family: var(--font-heading);
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
}
.collection-btns{
    display: flex;
    gap: 2rem;
}
.collection-btns button{
     padding:.5rem 1.5rem;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    border-radius: var(--button-border-radius);
    color: var(--primary-color);
    background-color: var(--button-color);
    transition: background-color .3s ease;
    cursor: pointer;
}


/*equipments grid section*/
.equipment-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
    gap: 2rem;
}
.equipment-card{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    overflow: hidden;
    display: flex;

}
.equipment-img{
    width: 100%;
    height: 250px;
}
.equipment-img img{
    width: 100%;
    height: 100%;
    object-fit: cover,;
}


/*
==========================
    Events Styling
==========================
*/

/* events hero section*/
.events-hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 6rem 4vw 6rem;
    gap: 2.8rem;
}
.events-hero-heading h2{
    color: var(--text-color);
    font-family: "Inter", serif;
    font-weight: 800;
    font-size: 1.8rem;
    margin: 0 0 1.4rem;
    line-height: 1.6;
}
.events-hero-heading p{
    color: var(--text-color);
    font-family: "Poppins";
    font-weight: 500;
    opacity: .8;
    line-height: 1.6;
}
.events-hero-heading button{
    margin: 2.5rem 0 2.5rem;
    padding: .8;
    font-family: var(--button-font-family);
    font-weight: 600;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background-color .4s ease;
}
.events-hero-heading button:hover{
    background-color: var(--category-color);
}
.events-img{
    overflow: hidden;
}
.events-img img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: .8rem;
}

/*Ritual category*/
.ritual-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4.5rem 4vw 4.5rem ;
    background-color: var(--tertiary-color);
}
.ritual-title{
    display: flex;
    flex-wrap: wrap;
}
.ritual-title h2{
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 600;
}
.ritual-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
    justify-content: center;
}
.ritual-card{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow: hidden;
    background-color: aliceblue;
    padding: 0 .4vw .7rem;
    border-radius: 10px;
}
.ritual-card-img{
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    border-radius: 8px;
}
.calendar{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2.5rem;
}
.calendar img{
    width: 5rem;
}
.calendar span{
    color: var(--secondary-color);
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1rem;
}
.ritual-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.ritual-details h3{
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.2rem;
}
.ritual-details p{
    font-family: "Poppins",serif;
    font-weight: 500;
    color: var(--text-color);
    opacity: .8;
}
.ritual-details button{
    padding: 1rem ;
    cursor: pointer;
    font-family: var(--button-font-family);
    font-weight: 600;
    border-radius: 10px;
    transition: background-color .4s ease;
}
.ritual-details button:hover{
    background-color: var(--category-color);
}

/*event-fomr section*/
.event-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;   
    padding: 8.5rem 0 0 ;
}
.event-form-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.event-form-heading h3{
    font-family: "Inter",serif;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2rem;
}
.event-form-heading p{
    font-family: "Lora",serif;
    font-weight: 500;
    color: var(--text-color);
    opacity: 1;
    line-height: 1.7;
}
.event-form-container{
    background-color: var(--tertiary-color);
    padding: 3rem 2vw 3rem;
    margin: 0.3rem 0 6rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.event-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.event-input-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.event-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .2rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.label{
    margin-left: .5rem ;
    color: var(--text-color);
    font-family: "Poppins",serif;
    font-weight: 500;
    font-size: 1.05rem;
    opacity: 1;
}
.event-input input{
    width: 27vw;
    padding: .6rem 1rem;
    text-align: left;
    outline: none;
    border: .6px solid black;
    box-sizing: border-box;
    transition: background-color .4s ease;
    border-radius:16px ;
}
.event-input input:focus{
    border-color: var(--secondary-color);
}
.event-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:.2rem
}

.selection-column{
    width: 55.2vw;
    padding: .6rem 1rem;
    text-align: left;
    outline: none;
    border: .6px solid black;
    box-sizing: border-box;
    transition: background-color .4s ease;
    border-radius: 16px;
}
.event-signup-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.4rem;
    width: 100%;
    margin-top: 1.4rem;
}
.event-signup-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    max-width: 30rem;
    padding: 1.2rem 2rem;
    box-sizing: border-box;
    font-family: "Poppins",serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color .4s ease;
}
.event-signup-btn button:hover{
    background-color: var(--category-color);
}
.event-signup-btn p{
    font-family:"Lora",serif;
    font-weight: 500;
    font-size: .7rem;

}

/*
==========================
    Offers Styling
==========================
*/
.offer-hero-section{
    background: linear-gradient(#41230879, #2b2a1761), url("../assets/images/ui/screen2.jpg");
    padding: 12rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.offers-hero{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.offers-hero span{
    color: var(--primary-color);
    font-weight: 510;
    background:  #e0dfdf31;
    padding: 1px 20px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: .2px solid #b3b3b36c;
}
.offers-hero h1{
    font-family: "Inter", serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}
.offers-hero p{
    font-family: "Lora", serif;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

/*Highlight section*/
.offer-highlight{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 3rem;
    margin: 0 0 6rem;
    gap: 1.5rem;
}
.offer-highlight h2{
    font-family: "Inter",serif;
}
.highlight-wrapper{
    background-color: #e8d5b0a4;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem; 
    justify-content: center;
    align-items: stretch;   
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 8px;
}
.highlight-img{
    width: 100%;
    height: 100%;
    overflow:idden;
}
.highlight-img img{
    max-width: 30rem;
    height: 100%;
    object-fit: cover;
}
.highlight-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    gap: .6rem;
}
.offer-span{
    display: flex;
    gap: .7rem;
    align-items: center;
}
.offer-span span{
    font-family: "Poppins",serif;
    font-style: italic;
    color: var(--secondary-color);
}
.offer-span strong{
    color: var(--category-color);
    font-family: "Poppins";
}
.highlight-card h4{
    font-family: "Inter",serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.highlight-card span{
    font-family: "Lora",serif;
    font-style: italic;
    font-weight: 600;
    font-size: .9rem;
    opacity: .8;
}
.highlight-card p{
    font-family: "Poppins",serif;
    font-weight: 600;
    opacity: 1;
}
.highlight-card button{
    display: flex;
    background: transparent;
    color: var(--text-color);
    margin-top:1.5rem ;
    border: .4px solid var(--secondary-color);
    cursor: pointer;
    font-family: "Poppins",serif;
    font-weight: 700;
    border-radius: 13px;
    transition: background-color .5s ease;
}
.highlight-card button:hover{
    background-color: var(--category-color);
    color: var(--primary-color);
    border: .4px solid black;
}


/*
==========================
    subscriptions Styling
==========================
*/





/*
==========================
    about us Styling
==========================
*/





/*
==========================
    contact Styling
==========================
*/





/*
==========================
    account Styling
==========================
*/
